@import "tailwindcss";

@plugin "daisyui" {
  themes: none;
}

@plugin "daisyui/theme" {
  name: "light-orange";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(96% 0.05 75);
  --color-base-200: oklch(92% 0.08 75);
  --color-base-300: oklch(88% 0.12 75);
  --color-base-content: oklch(25% 0.15 45);
  --color-primary: oklch(65% 0.25 45);
  --color-primary-content: oklch(98% 0.01 45);
  --color-secondary: oklch(75% 0.18 55);
  --color-secondary-content: oklch(25% 0.1 55);
  --color-accent: oklch(60% 0.22 35);
  --color-accent-content: oklch(98% 0.01 35);
  --color-neutral: oklch(30% 0.12 40);
  --color-neutral-content: oklch(95% 0.05 75);
  --color-info: oklch(70% 0.15 230);
  --color-info-content: oklch(98% 0.01 230);
  --color-success: oklch(70% 0.18 145);
  --color-success-content: oklch(98% 0.01 145);
  --color-warning: oklch(85% 0.2 85);
  --color-warning-content: oklch(30% 0.15 85);
  --color-error: oklch(60% 0.25 25);
  --color-error-content: oklch(98% 0.01 25);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}